 html{
background-color:rgb(231, 102, 22) ;
 }
 body{
height: 2000px;
background-color: rgb(248, 240, 240);
font-family: Georgia, 'Times New Roman', Times, serif;
/* border-radius: 50px; */
margin: 0;
/* overflow: hidden; */
width: 0px;
}
.parents{
width: 100vw;
height: 100vh;
background-image: url(../images/gg.png);
position: relative;

}
.div1{
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.6);
top: 0;
left: 0;

}
.div2{
color: white;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
/* background-color: blue; */
text-align: center;

}
.title1{
    color: white;
text-align: center;

}
.ht{
    font-size: 40px;
}
.btn1{
width: 120px;
height: 40px;
background-color: white;
border-radius: 10px;
border: 0;
font-size: 18px;
cursor: pointer;
background-color: white;
}
.btn2{
width: 120px;
height: 40px;
background-color: white;
border-radius: 10px;
border: 0;
font-size: 18px;
margin: 0px 5px;
cursor: pointer;
background-color: blue;
color: rgb(255, 255, 255);
}
.btn1:hover{
opacity: 0.7;
background-color: rgb(131, 131, 245);
}
.btn2:hover{
opacity: 0.7;
background-color: rgb(187, 172, 172);
}
 .ul1 li{
    
display: inline-block ;
font-size: larger;
padding: 20px;
height: 4px;
margin-right: 29px;
float: right;
padding-top: 13px;
}
.div3{
color: aqua;
background-color: rgb(116, 115, 115,0.7);
float: right;
width: 100%;
position: fixed;

 /* border-radius: 30px;  */
}
.ul1 li{

    margin-top: -19px;
    cursor: pointer;
    padding-bottom: 20px;
}
li:hover{
color: blue;

}




.parents4{
width: 1000px;
    margin:  50px 20px;
    padding: 20px 30px;
    margin-left: 160px;
}




.div4{
width: 230px;
height: 230px;
/* border-radius: 50%; */
    font-size: 40px;
    /* float: left; */
    background-color: rgb(22, 22, 181);
     float: left;
transition: 3s;
}
.div4:hover{
height:230px ;
    width:230px ;
    border-radius: 12px; 
    transition: 3s;
    /* background-image: url(../images/Screenshot\ 2025-10-31\ 074510.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.div5{
  width: 230px;
height: 230px;
border-radius: 12px;
    font-size: 40px;
    background-color: rgb(22, 22, 181);
     float: left;
     margin: 0px 70px  ;
}
.div6{
  width: 230px;
height: 230px;
/* border-radius: 50%; */
    font-size: 40px;
    background-color: rgb(22, 22, 181);
     float: left;
    transition: 3s;
}
.div7{
  width: 230px;
height: 230px;
border-radius: 12px;
    font-size: 40px;
    background-color: rgb(22, 22, 181);
     float: left;
     margin-top: 40px;
    }
     .div8{
  width: 230px;
height: 230px;
border-radius: 12px;
    font-size: 40px;
    background-color: rgb(22, 22, 181);
     float: left;
    margin-left: 70px;
    margin-top: 40px;
    /* background-image: url(../images/Screenshot\ 2025-10-31\ 074510.png); */
    background-size: cover;
    }
     .div9{
  width: 230px;
height: 230px;
border-radius: 12px;
    font-size: 40px;
    background-color: rgb(22, 22, 181);
     float: left;
    margin-left: 70px;
    margin-top: 40px;
    /* background-image: url(../images/Screenshot\ 2025-10-31\ 074510.png); */
    background-size: cover;
    }
a{
    list-style:circle;
padding-top: 166px;
padding-left: 50px;
font-size: 17px;
position: absolute;
display: block;
color: black;
list-style-type: none;
cursor: pointer;
background-color: azure;
height: 20px;
width: 90px;
margin-left: 30px;
}













i{
padding-left: 100px;
color: silver;}
.rr{
width: 20px;
height:10px ;
font-size: 20px;
/* padding-bottom: 6px; */
padding-left: 40px;
/* padding-top: 5px; */
color: silver;
}
.div6:hover{
height:230px ;
    width:230px ;
    border-radius: 12px; 
    transition: 3s;
    /* background-image: url(../images/Screenshot\ 2025-10-22\ 134157.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


 h3{
    font-size: 12px;
    color: gold;
    padding-left: 3px;
    
}
.hr{
        font-size: 16px;
    color: silver;
    padding-left: 50px;
    opacity: 0.8;/

}
 .hr:hover{
/* opacity: 0;  */

}

